

<div class="footer">
  <div class="col-md-12">
    <div class="col-md-2">
        <hr>
        <h4>Besoin d'un crédit</h4>
        <a href="#">Fonctionnement</a>
        <br>
        <a href="#">Simuler un prêt</a>
        <br>
        <a href="#">Éléments nécessaires</a>

    </div>

    <div class="col-md-2 f_right">
        <%= link_to root_path, class: "footer-wagon-brand" do %>
        <%= image_tag "peanut-couleur.png" %>
        <% end %>

        <a href="mailto:antoine.veaux@gmail.com"> Contactez-nous </a>
        <br>
        <a href="https://www.lewagon.com">Formation le Wagon.</a>
        <div class="social">
            <a href="https://twitter.com" class="icons-twitter" target="_blank"></a>
            <a href="http://facebook.com" class="icons-facebook" target="_blank"></a>
        </div>
    </div>
  </div>
</div>


