<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= simple_form_for :sim, url: credits_sim_path, method: :get, remote: true do |f| %>
  <%= f.input :amount %>
  <%= f.input :nb_of_days %>
  <%= f.button :submit %>
<% end %>
