<h1>Welcome</h1>

<div class="container">
  <%= simple_form_for :sim, method: :get, url: sim_path, remote: true do |f| %>
  <%= f.input :amount %>
  <%= f.input :nb_days %>
  <%= f.button :submit %>
  <% end %>
</div>

<div >
  <p>Votre simulation</p>
  <% @credit = Credit.new %>
  <ul>
    <li >
      Montant demandé:
      <p id="req-amount">
      </p>
    </li>
    <li>
      Montant total à rembourser (yc intérêts)
      <p id="total-amount">
      </p>
    </li>
    <li>
      Intérêts
      <p id="interests">
      </p>
    </li>
    <li >
      Date de remboursement automatique:
      <p id="refund_date">
      </p>
    </li>
  </ul>
</div>
