<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.1) 50%),url(https://images.unsplash.com/photo-1475949108589-d1c69a133713?dpr=1&amp;auto=format&amp;fit=crop&amp;w=1500&amp;h=1000&amp;q=80&amp;cs=tinysrgb&amp;crop=);">
  <div class="banner-content">




    <div class="home-calculator-box" itemscope itemtype="http://schema.org/Service">
      <div class="home-calculator-box-inner">
        <h1 class="lighter" itemprop="name">Besoin d’un coup de pouce ? Nous vous prêtons rapidement jusqu’a <strong> <span>200€</span>.</h1>
        <form id="home-calc-box-form">
          <div class="peanutCalculator">
            <div class="peanutAmount">



          <form class="form-horizontal form-pricing" action="/sim" data-remote="true" method="get" role="form">
            <div class="price-slider">
              <h4 class="great">Montant du prêt</h4>
              <span><em>Minimum 50€</em></span>
              <div class="col-sm-12">
                <div id="slider"></div>
              </div>
            </div>

            <div class="price-slider">
              <h4 class="great">Durée du prêt</h4>
              <span><em>5 jours minimum</em></span>
              <div class="col-sm-12">
                <div id="slider2"></div>
              </div>
            </div>


                <label for="amount" class="control-label">PRÊT</label>
                <span class="help-text">montant demandé</span>

                  <input type="hidden" name="sim[amount]" id="amount" class="form-control">
                  <p class="price lead" id="amount-label"></p>
                  <span class="price">€</span>


                <label for="duration" class="control-label">Durée: </label>
                <span class="help-text">Avant remboursement</span>


                  <input type="hidden" name="sim[nb_days]" id="duration" class="form-control">
                  <p class="price lead" id="duration-label"></p>
                  <span class="price">jours</span>


                <label for="total" class="control-label"><strong>Total: </strong></label>
                <span class="help-text">A rembourser (yc intérêts)</span>

                  <input type="hidden" id="total" class="form-control">
                  <p class="price lead" id="total-amount"></p>
                  <span class="price">.00</span>

                <label for="duration" class="control-label">Prélevés le </label>
                  <input type="hidden" id="duration" class="form-control">
                  <p class="price lead" id="refund_date"></p>
                  <span class="price"></span>



                  <input type="hidden" id="duration" class="form-control">
                  <p class="price lead" id="interests"></p>
                <span class="price">€</span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </span>
    </div>
  </div>
</div>




<!--4 ETAPES -->

<div class="container text-center padded features">
      <div class="row text-center">
        <div class="col-xs-12">
          <h2>Comment fonctionne Peanut</h2>
          <p class="short">Pourquoi notre système de prêts est si simple, rapide et efficace.</p>

      </div>
      <div class="row">
        <div class="peanutstep col-xs-12 col-sm-6 col-md-3">
          <%= image_tag "picto-etape1.png" %>
          <h3>Définissez votre besoin.</h3>
          <p>Pas de paperasse besoin ou de perdre du temps dans des rangées interminables semblent appeler des prêts rapides, grâce à notre service 100% en ligne! Utilisez notre bar dynamique pour sélectionner exactement combien d'argent vous avez besoin et pour combien de temps.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag "picto-etape2.png" %>
          <h3>Parlez-nous de vous.</h3>
          <p>Remplissez correctement notre formulaire court avec des renseignements personnels, les comptes bancaires, etc. Cela nous donnera une chance de vous connaître un peu mieux. Toutes les informations que vous nous partager sera chiffré pour votre sécurité.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag "picto-etape3.png" %>
          <h3>Obtenez votre prêt personnel.</h3>
          <p>Nous répondrons à votre demande en quelques minutes, et si elle est approuvée, recevoir votre crédit personnel dans votre compte bancaire en environ 29 minutes!</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag "picto-etape4.png" %>
          <h3>Vous payez votre prêt personnel.</h3>
          <p>Choisissez l'option que vous préférez effectuer le paiement de votre prêt: Bancomer (Fenêtre ou Practicaja), transfert électronique ou un magasin OXXO (il y a plus de 14.000 emplacements disponibles au Mexique).</p>
        </div>
        <div class="row text-center">
        <div class="col-xs-12">
          <p></p>
          <p class="short">Maintenant, vous savez, à emprunter en ligne est beaucoup plus facile que vous avez imaginé. Dites adieu aux longues files d'attente, attendre pendant des heures, ou d'avoir à remplir des dizaines d'exigences. Avec Kueski, commandez vos prêts immédiats et obtenir l'argent dont vous avez besoin.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="home-requisites">
      <div class="wrapper">
        <div class="cols-12">
          <div class="col col-6">
            <div class="col-inner">
              <h2>De quoi avez vous besoin pour demander un prêt ?</h2>
            </div>
          </div>

          <div class="col col-6">
            <div class="col-inner">
              <ul>

                <li>Être majeur.</li>

                <li>Être de nationalité française.</li>

                <li>Avoir un compte en banque et une carte de crédit.</li>

                <li>Avoir un revenu mensuel justifiable.</li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ipsa blanditiis alias asperiores ea, ut doloribus amet cumque quasi. Tempore, minus. Dolorum eius fugiat dolor tempora alias impedit optio voluptatibus?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, dolor similique vel quibusdam minima, obcaecati veritatis cupiditate explicabo! Architecto, quos rerum. Nobis blanditiis eius ad sint possimus quod nostrum cum!
</p>


<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
