<h1>Welcome</h1>


<div class="container">
  <div class="price-box">
    <div id="form-pricing">
      <form class="form-horizontal form-pricing" action="/sim" data-remote="true" method="get" role="form">
        <div class="price-slider">
          <h4 class="great">Montant souhaité</h4>
          <span>Minimum 50€</span>
          <div class="col-sm-12">
            <div id="slider"></div>
          </div>
        </div>
        <div class="price-slider">
          <h4 class="great">Durée</h4>
          <span>5 jours minimum</span>
          <div class="col-sm-12">
            <div id="slider2"></div>
          </div>
        </div>

        <div class="price-form">

          <div class="form-group">
            <label for="amount" class="col-sm-6 control-label">Montant (€): </label>
            <span class="help-text">montant demandé</span>
            <div class="col-sm-6">
              <input type="hidden" name="sim[amount]" id="amount" class="form-control">
              <p class="price lead" id="amount-label"></p>
              <span class="price">€</span>
            </div>
          </div>
          <div class="form-group">
            <label for="duration" class="col-sm-6 control-label">Durée: </label>
            <span class="help-text">Avant remboursement</span>
            <div class="col-sm-6">
              <input type="hidden" name="sim[nb_days]" id="duration" class="form-control">
              <p class="price lead" id="duration-label"></p>
              <span class="price">jours</span>
            </div>
          </div>
          <hr class="style">
          <div class="form-group total">
            <label for="total" class="col-sm-6 control-label"><strong>Total: </strong></label>
            <span class="help-text">A rembourser (yc intérêts)</span>
            <div class="col-sm-6">
              <input type="hidden" id="total" class="form-control">
              <p class="price lead" id="total-amount"></p>
              <span class="price">.00</span>
            </div>
          </div>
          <div class="form-group">
            <label for="duration" class="col-sm-6 control-label">Prélevés le </label>
            <div class="col-sm-6">
              <input type="hidden" id="duration" class="form-control">
              <p class="price lead" id="refund_date"></p>
              <span class="price"></span>
            </div>
          </div>
          <div class="form-group">
            <label for="duration" class="col-sm-6 control-label">Dont intérêts: </label>
            <div class="col-sm-6">
              <input type="hidden" id="duration" class="form-control">
              <p class="price lead" id="interests"></p>
              <span class="price">€</span>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
