// Your footer style
.footer {
    background: #0F3B49;
    padding: 30px 0;
    color: #CCCCCC;
    margin: 0px;
  }

.footer p {
  color: white;
}

.list-inline  {
  padding-left: 50px;
  padding-top: 25px;
}

#logo-footer {
  padding-right: 55px;
}
