<h1>Credits#new</h1>
<p>Find me in app/views/credits/new.html.erb</p>







              <!-- LE bouton Stripe -->

  <script src="https://checkout.stripe.com/checkout.js"></script>

  <button id="customButton">Je demande mon crédit </button>

  <script>
  var handler = StripeCheckout.configure({
    key: 'pk_test_wAxg6F5ab78qiBS4Jm8Iufrg',
    image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
    locale: 'auto',
    token: function(token) {
      // You can access the token ID with `token.id`.
      // Get the token ID to your server-side code for use.
    }
  });

  document.getElementById('customButton').addEventListener('click', function(e) {
    // Open Checkout with further options:
    handler.open({
      name: 'Peanut',
      description: "Bonjour <%= current_user.first_name %>",
      currency: 'eur',
      amount: "<%= @credit.amount_cents %>",
      panelLabel: 'Coût de votre crédit',

    });
    e.preventDefault();
  });

  // Close Checkout on page navigation:
  window.addEventListener('popstate', function() {
    handler.close();
  });
  </script>







